#update-form-container {
    margin-top: 20px;
}

#update-form-container h2 {
    text-align: center;
}

#update-form input, #update-form select, #update-form button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#update-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#update-form button:hover {
    background-color: #0056b3;
}

#update-form #cancel-update {
    background-color: #dc3545;
}

#update-form #cancel-update:hover {
    background-color: #c82333;
}
